<li>
	{{burger_name}}

	<button class="devour-burger" data-id="{{id}}" data-neweaten="{{devoured}}">
		{{#if devoured}}Eat me!!{{else}}Eat me!{{/if}}
	</button>

	<!-- stirke  -->
	<!-- <button class="devour-burger" data-id="{{this.id}}">DEVOUR!</button -->
</li>
